<!--Navbar landing page sin login-->
<div *ngIf="modalService.ofline" class=" container-fluid fixed-top bgBlueNavbar mb-5 ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light bgBlueNavbar ">
        <a class="navbar-brand " style="color: #fff; ">MKDW</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item active" routerLinkActive="active">
                    <a (click)="cerrarNavbar()" href="inicio#uno" class=" nav-link mr-1 rounded font-weight-bold " style=" color: #fff; ">Inicio</a>
                </li>
                <li class="nav-item " routerLinkActive="active">
                    <a (click)="cerrarNavbar()" href="inicio#dos" class="nav-link mr-1 rounded font-weight-bold " style="color: #fff; ">Conocenos</a>
                </li>
                <li class="nav-item " routerLinkActive="active">
                    <a (click)="cerrarNavbar()" href="inicio#tres" class=" nav-link rounded font-weight-bold " style="color: #fff; ">Unete</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!--Navbar landing page login-->
<div *ngIf="modalService.online" class="container-fluid fixed-top bgBlueNavbar mb-5 ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light bgBlueNavbar ">
        <a class="navbar-brand " style="color: #fff; ">MKDW</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
            </ul>
            <ul class="navbar-nav" routerLinkActive="active">
                <li class="nav-item ">
                    <a class="nav-link rounded font-weight-bold " [routerLink]="[ '/principal'] " style="color: #fff; "><i class="fa fa-user-o mr-1 " aria-hidden="true "></i>Principal</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link rounded font-weight-bold " [routerLink]="[ '/principal'] " style="color: #fff; "><i class="fa fa-user-o mr-1 " aria-hidden="true "></i>Ver paginas</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link rounded font-weight-bold " [routerLink]="[ '/planes'] " style="color: #fff; "><i class="fa fa-address-card-o mr-1 " aria-hidden="true "></i>Planes</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link rounded font-weight-bold " [routerLink]="[ '/perfilUsuario'] " style="color: #fff; "><i class="fa fa-address-card-o mr-1 " aria-hidden="true "></i>Perfil</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!--Navbar ADMIN-->
<div *ngIf="modalService.onlineAdmin " class="container-fluid fixed-top bgBlueNavbar mb-5 ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light bgBlueNavbar ">
        <a class="navbar-brand " style="color: #fff; ">MKDW</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
            </ul>
            <ul class="navbar-nav" routerLinkActive="active">
                <li class="nav-item ">
                    <a class="nav-link rounded font-weight-bold " [routerLink]="[ '/admin'] " style="color: #fff; "><i class="fa fa-user-o mr-1 " aria-hidden="true "></i>Principal</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<app-modals></app-modals>