<div class="container-fluid mt-5 mb-5">
    <div class="row mt-5">
        <div class="col-12 col-sm-3 mt-5">
            <form class="card border border-primary">
                <div class="ml-3 mt-5 mb-5 mr-3">
                    <h5>Importe pendiente hoy</h5>
                    <h1 class="font-weight-bold">$0.00</h1>
                    <label><i class="fa fa-check" aria-hidden="true"></i> No sera facturado hoy</label><br>
                    <label><i class="fa fa-check" aria-hidden="true"></i> Cancele en cualquier momento antes de que expire su prueba gratis</label><br>
                    <label><i class="fa fa-check" aria-hidden="true"></i> Crea 3 paginas gratis</label><br>
                    <label><i class="fa fa-check" aria-hidden="true"></i> En cada pagina podras ofrecer 10 productos</label>
                    <button class="btn btn-danger btn-block mt-3">Empezar Prueba Gratuita</button>
                </div>
            </form>
        </div>
        <div class="col-12 col-sm-3 mt-5">
            <form class="card border border-primary">
                <div class="ml-3 mt-5 mb-5 mr-3">
                    <h5>Importe pendiente hoy</h5>
                    <h1 class="font-weight-bold">$10.00</h1>
                    <label><i class="fa fa-check" aria-hidden="true"></i> No sera facturado hoy</label><br>
                    <label><i class="fa fa-check" aria-hidden="true"></i> Cancele en cualquier momento antes de que expire su prueba gratis</label><br>
                    <label><i class="fa fa-check" aria-hidden="true"></i> Crea 3 paginas gratis</label><br>
                    <label><i class="fa fa-check" aria-hidden="true"></i> En cada pagina podras ofrecer 10 productos</label>
                    <button class="btn btn-danger btn-block mt-3">Comprar Plan $10 mensual</button>
                </div>
            </form>
        </div>
        <div class="col-12 col-sm-3 mt-5">
            <form class="card border border-primary">
                <div class="ml-3 mt-5 mb-5 mr-3">
                    <h5>Importe pendiente hoy</h5>
                    <h1 class="font-weight-bold">$15.00</h1>
                    <label><i class="fa fa-check" aria-hidden="true"></i> No sera facturado hoy</label><br>
                    <label><i class="fa fa-check" aria-hidden="true"></i> Cancele en cualquier momento antes de que expire su prueba gratis</label><br>
                    <label><i class="fa fa-check" aria-hidden="true"></i> Crea 3 paginas gratis</label><br>
                    <label><i class="fa fa-check" aria-hidden="true"></i> En cada pagina podras ofrecer 10 productos</label>
                    <button class="btn btn-danger btn-block mt-3">Comprar Plan $15 mensual</button>
                </div>
            </form>
        </div>
        <div class="col-12 col-sm-3 mt-5">
            <form class="card border border-primary">
                <div class="ml-3 mt-5 mb-5 mr-3">
                    <h5>Importe pendiente hoy</h5>
                    <h1 class="font-weight-bold">$20.00</h1>
                    <label><i class="fa fa-check" aria-hidden="true"></i> No sera facturado hoy</label><br>
                    <label><i class="fa fa-check" aria-hidden="true"></i> Cancele en cualquier momento antes de que expire su prueba gratis</label><br>
                    <label><i class="fa fa-check" aria-hidden="true"></i> Crea 3 paginas gratis</label><br>
                    <label><i class="fa fa-check" aria-hidden="true"></i> En cada pagina podras ofrecer 10 productos</label>
                    <button class="btn btn-danger btn-block mt-3">Comprar Plan $20 Empresarial</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row mt-5">
        <div class="col-sm-3"> </div>
        <div class="col-12 col-sm-6">
            <form>
                <div>
                    <h5>Metodo de pago</h5>
                    <div class="alert alert-secondary">
                        <b>Tarjetas</b>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
