<div class="container-fluid mt-5 mb-5">
    <div class="row mt-5">
        <div *ngFor="let plans of planes.plan" class="col-12 col-sm-3 mt-5">
            <form class="card border border-primary">
                <div class="ml-3 mt-5 mb-5 mr-3">
                    <h5>Importe pendiente hoy</h5>
                    <h1 class="font-weight-bold">${{plans.precio}}.00</h1>
                    <label><i class="fa fa-check" aria-hidden="true"></i> No sera facturado hoy</label><br>
                    <label><i class="fa fa-check" aria-hidden="true"></i> {{plans.descripcion}}</label><br>
                    <label><i class="fa fa-check" aria-hidden="true"></i> Crea {{plans.paginas}} paginas </label><br>
                    <label><i class="fa fa-check" aria-hidden="true"></i> En cada pagina podras ofrecer {{plans.cantidadProductos}}  productos</label>
                    <button (click)="mostrarPlan(plans)" class="btn btn-danger btn-block mt-3">Comprar Plan ${{plans.precio}}.00  {{plans.tipo}}</button>
                </div>
            </form>
        </div>
    </div>
</div>