<!-- main -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12"> 
<div class="main-agileinfo slider ">
    <div class="items-group">
        <div class="item agileits-w3layouts">
            <div class="block text main-agileits">
                <span class="circleLight"></span>
                <!-- login form -->
                <div class="login-form loginw3-agile">
                    <div class="agile-row">
                        <h1>Inicio Administrador</h1>
                        <div class="login-agileits-top">
                            <form action="#" method="post">
                                <p>User Name </p>
                                <input type="text" class="name" name="user name" required="" />
                                <p>Password</p>
                                <input type="password" class="password" name="Password" required="" />
                                <label class="anim">
                  <input type="checkbox" class="checkbox">
                  <span> Remember me ?</span> 
                </label>
                                <input type="submit" value="Login">
                            </form>
                        </div>
                        <div class="login-agileits-bottom wthree">
                            <h6><a href="#">Forgot password?</a></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w3lsfooteragileits">
                <p> &copy; 2017 Shadow Login Form. All Rights Reserved | Design by <a href="http://w3layouts.com" target="=_blank">W3layouts</a></p>
            </div>
        </div>
    </div>
</div>
<!-- //main -->

</div>
</div>
</div>