<div class="container-fluid mt-5">
    <div class="row mt-5">
        <div class="col-sm-4 mt-5">
            <img class="d-block w-100 animacionTarjeta" style="height: 60vh" src="../../../assets/img/tarjeta.png">
        </div>
        <div class="col-12 col-sm-4 mt-3 card">
            <form class="m-3">
                <div>
                    <h5 class="text-center text-primary text-uppercase">Metodo de pago</h5>
                    <div class="alert alert-info">
                        <b>Tarjetas</b>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Monto</label>
                    <div class="col-sm-7">
                        <h4>$10</h4>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Numero de tarjeta</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputTarjeta" placeholder="0000 0000 0000">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label">Fecha de expiracion</label>
                    <div class="col-sm-7">
                        <input type="date" class="form-control" id="inputFecha">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label">CVV/CVC</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputCVV">
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <div class="col-sm-12">
                        <button type="text" class="btn btn-primary btn-block" style="float: right;">Pagar</button>
                    </div>
                </div>
                <div class="form-group row mt-1">
                    <div class="col-sm-12">
                        <p class="text-secondary"><b>Compra segura.</b>Para su comodidad, su informacion de pago se almacenara encriptada para futuros pedidos.</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
