<div class="ml-3">
    <h5 *ngIf="mostrarImagenYo">
        <span class="badge badge-warning text-uppercase">
          Banco de imagenes
</span>
    </h5>
    <input (change)="seleccionImagenGaleria($event.target.files[0])" type="file" #imagenGaleria class="form-control-file d-none" />
    <button *ngIf="!mostrarImagenYo" (click)="imagenGaleria.click()" type="button" class="btn btn-outline-warning btn-lg mt-3">
<i class="fas fa-upload mr-2"></i>
<span class="badge badge-warning mb-1">Selecciona la imagen a subir</span>
</button>
</div>
<div class="ml-3">
    <div *ngIf="mostrarYo" class="form-group mt-5">
        <img *ngIf="mostrarImagenYo" (click)="imagenGaleria.click()" [src]="imagenSel2" class="img-fluid  mt-2" width="150" height="120">
    </div>
</div>
<!--Imagenes-->
<div class="row">
    <div *ngFor="let imagen of galeria.img" class="card ml-2 " style="width: 8rem; ">
        <img src="http://localhost:3000/uploadGaleria/proyectoDW/back4.jpg" class="card-img-top " alt="... ">
        <div class="card-body ">
            <h5 class="card-title ">Producto x</h5>
            <p class="card-text ">Descripcion producto.</p>
            <a href="# " class="btn btn-primary ">Añadir a la cesta<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
