<div class="container-fluid bgBlueNavbar mt-5 fixed-bottom" style="padding-left: 0px;padding-right: 0px;">
    <div class="container text-center">
        <button type="button" class="btn btn-warning btn-sm cookies8 mt-n1">
            <u>Politica de privacidad y cookies</u>
        </button>
        <div class="row">
            <div class="col">
                <a style="color: rgb(212, 253, 253);">
                    <i class="fa fa-whatsapp mr-3" aria-hidden="true"></i>
                </a>
                <a style="color: rgb(212, 253, 253);" href="https://www.facebook.com" target="_blank">
                    <i class="fa fa-facebook mr-3" aria-hidden="true"></i>
                </a>
                <a style="color: rgb(212, 253, 253);" href="https://www.linkedin.com/" target="_blank">
                    <i class="fa fa-linkedin mr-3" aria-hidden="true"></i>
                </a>
                <a style="color: rgb(212, 253, 253);" href="https://www.instagram.com/" target="_blank">
                    <i class="fa fa-instagram mr-3" aria-hidden="true"></i>
                </a>
                <a style="color: rgb(212, 253, 253);" href="https://www.twitter.com/" target="_blank">
                    <i class="fa fa-twitter mr-3" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <p class="mb-1">
            <small class="text-muted">
                Copyrigth &copy;&nbsp; Karen Pastrana({{year}})&nbsp; Todos los derechos reservados
            </small>
        </p>
    </div>
</div>
