<div class="container-fluid mt-5">
    <div class="row mt-5">
        <div class="col-sm-4 mt-5 text-center">
            <h4 class="text-primary text-center">Nombre usuario</h4>
            <img src="../../../assets/user/user.png" class="w-50" style="height: 50vh">
        </div>
        <div class="col-sm-4 mt-5">
            <div class="form-group row">
                <div class="col-sm-12">
                    <h5 class="text-center">Datos Personales</h5>
                    <hr class="text-primary" style="background-color: blue;">
                </div>

            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nombres:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control inputPerfil" placeholder="Nombres">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Apellidos:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control inputPerfil" placeholder="Apellidos">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Correo:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control inputPerfil" placeholder="correo@gmail.com">
                </div>
            </div>

        </div>
    </div>
</div>