<nav class="navbar menuH ">
    <i aria-hidden="true" (click)="menuAdmin.toggleSidebar()" class="fa fa-bars btnMenu mr-auto border border-info rounded-pill" style="padding: 10px;"></i>
    <form class="form-inline m-2 ">
        <div class="dropdown">
            <button class="btn btnMenu dropdown-toggle rounded-pill " type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="rounded-pill mr-2 " src="../../../assets/user/user.png" width="30" height="30">Karen Nunez
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Perfil</button>
                <button (click)="logOut()" class="dropdown-item" type="button">Salir</button>
                <button class="dropdown-item" type="button">Configuracion</button>
            </div>
        </div>
    </form>
</nav>