ng-sidebar-container {
    height: 100vh;
}

::ng-deep .ng-sidebar {
    padding: 2em 3em;
    box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
    background: #1A2980;
}

.menu {
    margin-top: 2em;
    display: block;
}

.menu li {
    margin-bottom: 15px;
}

.menu li a {
    display: block;
    width: 100%;
}

.menuH {
    background: #26D0CE;
}

.btnMenu {
    background: #1A2980;
    color: #fff;
}