<!--Menu Horizontal-->
<!--Fin Menu Horizontal-->
<!--Menu Vertical-->
<ng-sidebar-container>
    <ng-sidebar [opened]="menuAdmin.opened">
        <ul class="menu nav flex-column ">
            <li class="nav-item " routerLinkActive="active ">
                <a class="nav-link active text-light " [routerLink]="[ '/admin'] ">Inicio</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-light " [routerLink]="[ '/admin'] ">Pagos</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-light " [routerLink]="[ '/admin'] ">Usuarios</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-light " [routerLink]="[ '/admin'] ">Planes</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-light " [routerLink]="[ '/admin'] ">Plantillas</a>
            </li>
        </ul>
    </ng-sidebar>
</ng-sidebar-container>