<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12" style="padding: 0px;">
            <app-menu-v></app-menu-v>
        </div>
        <div *ngIf="menuAdmin.opened" class="col-sm-3 col-md-3" style="padding: 0px;">
            <app-menu></app-menu>
        </div>
        <div class="mt-5 col-auto" style="padding: 0px; padding-left: 25px;">
            <h4 class="text-center" style="color:blue">Panel de Administracion</h4>
            <app-usuarios *ngIf="menuAdmin.usuarios"></app-usuarios>
            <app-pagos *ngIf="menuAdmin.pagos"></app-pagos>
            <app-plantilla *ngIf="menuAdmin.plantillas"></app-plantilla>
            <app-banco-img *ngIf="menuAdmin.bancoImg"></app-banco-img>
        </div>
    </div>
</div>